p1 {
    color:brown ;
    background-color : yellow;
    font-size: 30px;
    font-family: 궁서;
}

p2 {
    color: brown;
    background-color: yellow;
}

p4 {
    color: red;
    background-color: black !important;
}